@model BlogApplication.Models.Entites.Post
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Post</h2>
@using (Html.BeginForm("AddPost", "Add"))
{


@Html.LabelFor(model => model.header, "Header")
@Html.EditorFor(model => model.header) <br />
@Html.LabelFor(model => model.body,"Body")
@Html.EditorFor(model => model.body) <br />
@Html.LabelFor(model => model.usernumber,"User")
@Html.EditorFor(model => model.usernumber) <br />

<input type="submit" value="add" />
}



