@model List<BlogApplication.Models.Entites.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posts</h2>

@foreach (var m in Model)
{
    <strong>Identificator:</strong>
    @m.Id
    <br />
    @m.header
    <br />
    @m.body
    <br />
   
    <br />
    @Html.Action("getComments", "Home", new { identi = m.Id })
    <hr />
}


@Html.Action("addComment", "Home", new { sample = 0 })
